<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Add an Item</title>
	</head>
	<body>
		<h1>New Retro Item</h1>
		<form action="/retro" method="POST">
			Name: <input type="text" name="name" placeholder="Name" required /><br />
			Description: <input type="text" name="description" placeholder="Description" required /><br />
			Image URL: <input type="text" name="img" placeholder="Image URL" required /><br />
            Price: <input type="number" name="price" placeholder="Price" required /><br />
            Quantity: <input type="number" name="qty" placeholder="Quantity" required /><br />
			<input type="submit" name="" value="Add Item" />
		</form>
		<a href="/retro">back</a>
	</body>
</html>